<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="M2TWMT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <M2TWMT.Properties.Settings>
      <setting name="Topmost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Transparency" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowWarnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RebuildSkeletons" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastPackDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastEduDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastMeshDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="UseFileSuffixes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastCasDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="AcceptedAgreement" serializeAs="String">
        <value>False</value>
      </setting>
    </M2TWMT.Properties.Settings>
  </userSettings>
</configuration>
